.env
#Variables de entorno
.env.*

!.env.example

#Entornos de python
venv/
.venv/
env/

#Cache de python
__pycache__/
#Ignorar cache de alembic

alembic/__pycache__/
alembic/versions/__pycache__/



postgres_data/
qdrant_data/
nuclei_templates/
reports/
scan_reports/
*.log

.vscode/settings.json

*/.idea/*

*/node_modules/
